<a href="https://colab.research.google.com/github/deborahmasibo/Hamoye_Stage_A/blob/main/Introduction_to_python_for_machine_learning_tag_along_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import numpy as np
import pandas as pd
from google.colab import drive
import os

In [2]:
# Mounting drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
# CWD
os.chdir('/content/drive/MyDrive/Hamoye/Stage A')

In [8]:
# Dataset
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
# Preview
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#**Question 2**

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [16]:
# Area data
area = data[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017')
# Result
area.head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

#**Question 3**

In [5]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

#**Question 5**

In [6]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

#**Question 8**

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [25]:
# Wine data
wine = data[['Item', 'Y2015', 'Y2018']].groupby('Item').sum()

In [26]:
# Result
wine.loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

#**Question 10**

What is the total Protein supply quantity in Madagascar in 2015?

In [71]:
protein = data[['Item', 'Element', 'Area', 'Y2015']].groupby(['Area', 'Item']).sum().loc['Madagascar']

In [73]:
'Protein' in data['Item']

False

In [37]:
protein.loc['Madagascar']

                       Y2015
Item
Alcohol, Non-Food      44.00
Alcoholic Beverages   497.18
Animal Products       152.37
Animal fats            26.89
Apples and products    25.31
...                      ...
Vegetables, Other    1267.88
Vegetal Products     1835.87
Wheat and products    758.71
Wine                   27.38
Yams                    0.00

[119 rows x 1 columns]

#**Question 11**

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [99]:
# Sorted values
data[['Element','Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].groupby('Element').sum().loc['Stock Variation'].sort_values(ascending = False)

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: Stock Variation, dtype: float64

#**Question 12**

What is the total number of unique countries in the dataset?

In [56]:
# Num. of countries
len(data['Area'].unique())

49

#**Question 14**

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [60]:
data[['Y2017', 'Element']].groupby('Element').sum().loc['Processing']

Y2017    292836.0
Name: Processing, dtype: float64

#**Question 15**

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [94]:
y = [(2, 4), (7, 8), (1, 5, 9)]
print(y[1][1])
print(y[1][-1])

8
8

#**Question 16**


If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [100]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality', 'Overall']

# Result
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

#**Question 17**

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [67]:
# Number of null values
num_null = data['Y2014'].isnull().sum()

1589

In [90]:
# Perc. of null values
((data['Y2014'].isnull().sum() / len(data)) * 100).round(3)

2.607

#**Question 18**

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [89]:
data[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017', ascending = False).head()

                   Y2017
Area
Nigeria       1483268.23
Egypt          866379.92
South Africa   517590.54
Ethiopia       448683.76
Morocco        388495.36

#**Question 19**

Which year had the least correlation with ‘Element Code’?

In [88]:
data[['Element Code',	'Y2014',	'Y2015',	'Y2016',	'Y2017',	'Y2018']].corr().sort_values('Element Code')['Element Code']

Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

#**Question 20**

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [82]:
# Mean and std
print(f"Mean = {data['Y2017'].mean().round(2)}")
print(f"STD = {data['Y2017'].std().round(2)}")

Mean = 140.92
STD = 1671.86